{{#files}}{{{path}}}	{{{contentType}}}	{{#source}}source{{/source}}{{^source}}{{#rule}}rule{{/rule}}{{^rule}}default{{/rule}}{{/source}}	{{#cacheControl}}{{{cacheControl}}}{{/cacheControl}}
{{/files}}